.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.preloader-content {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preloader-counter {
  font-family: var(--font-display);
  font-size: 4rem;
  color: var(--text-color);
  margin-bottom: 20px;
}

.preloader-line-container {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.preloader-line {
  height: 100%;
  background-color: var(--text-color);
  width: 0%;
  transition: width 0.1s ease-out;
}
